@model SistemaLoca.BusinnesLogic.Model.ControleAcervo.ItemFilme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ItemFilme</legend>

    <div class="display-label">NumeroSerie</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroSerie)
    </div>

    <div class="display-label">DataAquisicao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataAquisicao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
