<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="SistemaLocaDBContext"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=sistemaLoca;User ID=sa;Password=sa;Pooling=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
