@model SistemaLoca.BusinnesLogic.Model.ControleAcervo.Genero

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Genero</legend>

    <div class="display-label">descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
